.Nav {
    &__Ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 60%;
    }

    &__Li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}